@import 'normalize';
@import 'mixins';
@import 'fonts';
@import "fontawesome";
@import "solid";
@import "brands";
@import "regular";
@import 'slick';
// @import 'bootstrap';
// font-family: ProximaNova, sans-serif;
// font-family: 'PT Sans', sans-serif;
* {
	box-sizing: border-box;
	 
}

html {
	scroll-behavior: smooth;
	height: 100%;
	font-size: 10px;
	font-family: 'PT Sans', sans-serif;
}

body {
	height: 100%;
	font-size: 10px;
	// line-height: 2.1;
}

.container {
    max-width: 1170px;
    width: 74%;
    margin: 0 auto;
    outline: 1px solid yellow;
    padding: 0;
    &__header {
    	max-width: 1120px;
    	width: 72%;
    }
    &__footer {
    	max-width: 1120px;
    	width: 72%;
    	display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: space-between;
    }
    &__slider {
    	max-width: 1270px;
    	width: 80%;
    	margin: 0 auto;
    // border: 1px solid yellow;
    	padding: 0;
    }
    &__map {
    	max-width: 870px;
    	width: 55%;
    	position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
    }
}

.header {

	background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 100vh;
	color: #fff;
	background-image: linear-gradient(rgba(159, 154, 207, .5)), url(../img/h.jpg);
	text-align: center;
	&__h1 {
		margin: 130px 0 20px 0;
		font-size: 7.2rem;
		font-family: ProximaNova, sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		max-height: 172px;
		overflow: hidden;
		@media(max-width:915px){
			font-size: 5rem;
		}
		
	}
	&__text {
		font-style: italic;
		font-size: 3rem;
		max-height: 135px;
		overflow: hidden;
		@media(max-width:915px){
			font-size: 2rem;
		}
	}
}

a, menu {
	list-style-type: none;
	text-decoration: none;
	color: #fff;
}

.menu {
	margin: 0;
	padding: 35px 0 0 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	font-size: 24px;
	font-family: ProximaNova, sans-serif;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	outline: 1px solid red;
	&__logo {
	}
	&__links {
		// width: 65%;
		max-width: 90%;
	}
	&__items {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		padding: 0;
		outline: 4px solid gray;
		width:100%;
	}
	&__item {
		margin-left: 30px;
		white-space: nowrap; /* Запрещаем перенос строк */
        overflow: hidden; /* Обрезаем все, что не помещается в область */
        text-overflow: ellipsis; /* Добавляем многоточие */
		// width: 20%;
		max-width: 125px;
		outline: 1px solid red;
	}
	a {
		text-decoration: none;
	}
	&__link {
		transition: all .4s ease-in-out;
		&:hover,
		&:focus,
		&:active {
			color:#53516c;
		}
	}
	&__toggler {
		display: none;
	}
	@media screen and (max-width: 1000px) {
		font-size: 20px;
	}
}

.toggler {
	display: none;
}



@media screen and (max-width: 875px) {
	.menu__items {
		 background-color: #9f9acf; 
		position: fixed;
		top: 15px;
		right: 0;
		z-index: 10;
		transform: translate(80%, 0) scale(.3);
		transition: all .7s ease-in-out;
		border-radius: 50%; 
		// background-color: gray;
		padding: 30px 3% 30px 3%;
		display: inline-block;
		width: 25%;
		outline: none;
		border: none;

	}
	.menu__items.opened {
		transform: translate(15%, 0%) scale(1);
	}

	.menu__toggler {
		display: block;
	}

	.menu__item {
		margin-left: 0;
		display: block;
		text-align: center;
		// width: 80%;
		outline: none;
		border: none;
		// padding: .5em;
		// margin: 0 4em 0 2em;
		/* border-bottom: 1px solid rgba(255,255,255, .6); */
	}

	.menu__link {
		font-size: 2rem;
		&:hover,
		&:focus,
		&:active {
			border: none;
		}
	}

	.toggler {
		display: block;
		border:  none;
		background-color: transparent ;
		outline: none;
		position: fixed;
		top:  35px;
		right: 18%;  
		z-index: 11;
		background-image: url(../img/menu.svg); 
		background-position: center;
		background-repeat: no-repeat;
		padding: 0;
		width: 32px;
		height: 32px;    
		transition: all .4s ease-in-out;
	}

	.menu__items.opened + .toggler {
		 
			background-image: url(../img/close.svg); 
		
	}

	.toggler:hover, 
	.toggler:focus, 
	.toggler:active {
		opacity: .7;
		border:  none;
	} 

	.toggler svg {
		fill: #fff;        
	}
}

@media screen and (max-width: 640px) {
	.menu__items {
		width: 30%;
	}
}


.about {
	background-color: #ebebeb;
	&__items {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		padding: 120px 0;
		@media screen and (max-width: 570px) {
			flex-wrap: wrap;
		}
		&--second {
			padding: 0;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			@media screen and (max-width: 570px) {
				flex-wrap: wrap;
			}
		}
	}
	&__item {
		width:55%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		&--first {
			background-color: #cccccc;
    		background-repeat: no-repeat;
    		background-size: cover;
    		background-position: 50% 50%;
			background-image: linear-gradient(rgba(159, 154, 207, .5)), url(../img/about.jpg);
			width: 35%;
  			// height: 	;
  			margin-right: 5%;
  			display: flex;
  			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: flex-start;
			@media screen and (max-width: 570px) {
				width: 100%;
				min-height: 250px;
				margin: 0;
			}
		}
		@media screen and (max-width: 570px) {
				width: 100%;
				// min-height: 250px;
				margin: 0;
		}

	}
	&__pic {
		// display: flex;
		// text-align: center;
		// justify-content: center;
		// margin-top: 50px;
		width: 50px;
  		height: 54px;
  		margin: 70px auto 40px;
	}
	&__name {
		margin: 0 10px;
		text-align: center;
		font-size: 36px;
		height: 75px;
		font-family: ProximaNova, sans-serif;
		font-weight: 500;
		text-transform: uppercase;
		color: #fff;
		// white-space: nowrap; /* Запрещаем перенос строк */
        overflow: hidden; /* Обрезаем все, что не помещается в область */
        // text-overflow: ellipsis; /* Добавляем многоточие */
	}
	&__text {
		padding: 70px 20px 0 0;
		font-size: 20px;
		font-family: 'PT Sans', sans-serif;
		color: #665f60;
		&--bold {
			padding: 0;
			font-weight: 700;
		}
		&--italic {
			padding: 0;
			font-style: italic;
		}
		@media screen and (max-width: 570px) {
				padding-right: 0;
		}

	}
	&__works {
		width: 32%;
		outline: 1px solid red;
		&--big{
			width:36%;
			@media screen and (max-width: 570px) {
				width: 100%;
				// min-height: 250px;
				margin: 0;
			}
		}
		@media screen and (max-width: 570px) {
				width: 100%;
				// min-height: 250px;
				margin: 0;
		}
		// min-height: 800px;
	}
	&__work {
		// width: 33%;
		
		// min-height: 800px;
		
		text-align: center;
		font-family: 'PT Sans', sans-serif;
	}
	&__headline {
		
		font-size: 24px;
		font-weight: 700;
		padding: 20px 0 15px;
		height: 70px;
		// white-space: nowrap; /* Запрещаем перенос строк */
        overflow: hidden; /* Обрезаем все, что не помещается в область */
        // text-overflow: ellipsis; /* Добавляем многоточие */

		&--big {
			padding-bottom: 115px;
		}
	}
	&__info {
		font-style: italic;
		font-size: 18px;
		height: 80px;
		overflow: hidden;
		&--quote {
			&:before {
				content: "\201c";
			}
			&:after {
				content: "\201d";
			}
		}
		&--line {
			font-style: normal;
			&:before {
				content: " -";
			}
			&:after {
				content: " -";
			}
		}
	}
	&__part {
		// height: 400px;
		color: #665f60;
		height: 60vh;
		outline: 1px solid green;
		padding: 0 11%;
		&--big {
			color: #fff;
			height: 120vh;
			padding: 0 7%;
			// height: 800px;
			background-color: #cccccc;
    		background-repeat: no-repeat;
    		background-size: cover;
    		background-position: 50% 50%;
			background-image: linear-gradient(rgba(159, 154, 207, .5)), url(../img/services.jpg);
		}
		&--bg{
			background-color: #dbdbdb;
		}

	}
	&__icon {
		padding-top: 90px;
		&--big {
			padding-top: 115px;
		}
	}
}

.btn {
	// padding-top: 90px;
	display: inline-block;
	padding: 10px;
	width: 30%;
	margin: 60px auto 0;
	font-family: 'PT Sans', sans-serif;
	color: #7d7a7c;
	font-style: italic;
	border: 1px solid #7d7a7c;
	font-size: 20px;
	text-align: center;
	outline: none;
	white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
	transition: all .4s ease-in-out;
	@media screen and (max-width: 1040px) {
			width: 60%;
	}
	// 	@media screen and (max-width: 580px) {
	// 		width: 50%;
	// }
	// 	@media screen and (max-width: 440px) {
	// 		width: 50%;
	// }
	&:hover,
	&:focus,
	&:active {
		background-color: #7d7a7c;
		color: #ebebeb;
	}
	&__works {
		width: 20%;
		// margin: 0 auto;
		margin-top: 105px;
		// margin-top: 0;
		margin-bottom: 60px;
		color: #fff;
		border-color: #fff;
		transition: all .4s ease-in-out;
		&:hover,
		&:focus,
		&:active {
			background-color: #fff;
			border-color: #9f9acf;
			color: #9f9acf;
		}
		@media screen and (max-width: 850px) {
			width: 30%;
		}
		@media screen and (max-width: 580px) {
			width: 40%;
		}
		@media screen and (max-width: 440px) {
			width: 50%;
		}
	}
	&__map{
		margin-top: 0;
		margin-bottom: 60px;
		font-family: ProximaNova, sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		color: #fff;
		font-style: normal;
		background-color: #9f9acf;
		border: 4px solid #9f9acf;
		border-radius: 2px;
		transition: all .4s ease-in-out;
		&:hover,
		&:focus,
		&:active {
			background-color: #9f9acf;
			color: #fff;
			border-bottom: 4px solid #8783b0;
		}
		@media screen and (max-width: 1200px) {
			width: 70%;
		}
		@media screen and (max-width: 700px) {
			width: 100%;
		}
		// @media screen and (max-width: 600px) {
		// 	width: 70%;
		// }
	}
}



.works {
	background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    // height: 150vh;
	color: #fff;
	background-image: linear-gradient(rgba(159, 154, 207, .9)), url(../img/bgw.jpg);
	text-align: center;
	&__headline {
		font-family: ProximaNova, sans-serif;
		font-weight: 500;
		font-size: 3.6rem;
		margin: 0 0 60px;
	}
	&__img {
		padding: 50px 0 25px;
	}
	// .slick-slide {
	// 	width: 735px;
	// 	height: 550px;
	// }

	.slider {
	// padding-bottom: 110px;
	display: flex;
     	flex-direction:row;
     	flex-wrap: nowrap;
     	justify-content: center;
     	// position: relative;
	}

	.slide {
		text-align: center;
		// margin: 0 50px;
		// margin: 100px;
		&__img {
			display: block;
			margin: 0 auto;
			// width: 100%;
			width: 740px;
			max-width: 70%;
			max-height: 545px;
		}
	}
	.slick-dots {
		margin: 0;
		padding: 0;
		position: absolute;
		bottom: -45px;
		left: 50%;
		transform: translateX(-50%);
		li {
			display: inline-block;
			margin-right: 40px;
			width: 10px;
			height: 10px;
			&:last-child {
				margin: 0;
			}
			@media screen and (max-width: 580px) {
				margin-right: 10px;
			}
		}
		button {
			font-size: 0;
			background-color: transparent;
			width: 10px;
			height: 10px;
			line-height: 10;
			border: 1px solid #fff;
			padding: 0;
			border-radius: 100%;
			transition: background-color .4s ease-in-out;
			&:hover,
			&:focus,
			&:active {
				outline: none;
				background-color: #fff;
			}
		}
		.slick-active button {
			background-color: #fff;
		}
	}
	.slick-arrow {
		position: absolute;
		display: inline-block;
		background-color: transparent;
		font-size: 0;
		outline: none;
		background-repeat: no-repeat;
		width: 22px;
		height: 38px;
 		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='22px' height='38px'%3E%3Cpath fill-rule='evenodd' fill='rgb(230, 230, 230)' d='M21.518,1.990 L2.423,18.999 L21.518,36.009 C21.987,36.303 22.147,36.956 21.877,37.465 C21.606,37.976 21.007,38.151 20.539,37.856 L0.482,19.989 C0.177,19.798 0.020,19.454 0.009,19.098 C0.005,19.064 0.005,19.033 0.003,18.999 C0.005,18.965 0.005,18.933 0.010,18.900 C0.020,18.544 0.177,18.200 0.482,18.008 L20.539,0.142 C21.007,-0.153 21.606,0.022 21.877,0.533 C22.147,1.042 21.987,1.695 21.518,1.990 Z'/%3E%3C/svg%3E");		border: none;
		border: none;
		// &:before {
		// 	display: block;
		//  	content: "";
		//  	border-radius: 50%;
		//  	width:40px;
		//  	height: 40px;
		//  	border: 1px solid #fff;
		//  	position: absolute;
		//  	left: -110%;
		//  	top: -160%;
		// }
		&.slick-prev {
			// position: absolute;
			z-index: 10;
			left: 2%;
			top: 50%;
			transform: translateY(-50%) rotate(0deg);
		}
		&.slick-next {
			right: 2%;
			top: 50%;
			transform: translateY(-50%) rotate(180deg);
		}
		&:hover,
		&:focus,
		&:active {
			opacity: .7;
		}
	}

}

.team {
	background-color: #ebebeb;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
	text-align: center;
	// height: 810px;
	&__img {
		margin: 50px 0 30px;
	}
	&__headline {
		font-family: ProximaNova, sans-serif;
		font-weight: 500;
		font-size: 3.6rem;
		margin: 0;
		padding: 0 0 30px;

	}
	.slidert {
	// padding-bottom: 110px;
	display: flex;
     	flex-direction:row;
     	flex-wrap: nowrap;
     	justify-content: center;
     	position: relative;
	}

	.slidet {
		// text-align: center;
		// margin: 0 50px;
		// margin: 100px;
		&__img {
			// display: block;
			// margin: 0 auto;
			// width: 100%;
			// width: 350px;
			// width: 30%;
			// max-height: 470px;
		}
	}
 	.slick-slider {
		// width:100%;
    	padding:0 85px;
    	padding-bottom: 95px;
		

	}
	.slick-slide {
		margin-right:15px;
	    margin-left:15px;
		// height: 493px;
		// width: 2.1%;	
	    // margin-right:15px;
	    // margin-left:15px;
	    // padding: 0;
	    &:last-child {
	    	// margin-right: 0;
	    }

	}
	// .slick-track {
	// 	width: 80%;

	// }

	.slick-arrow {
		position: absolute;
		display: inline-block;
		background-color: transparent;
		font-size: 0;
		outline: none;
		background-repeat: no-repeat;
		width: 22px;
		height: 38px;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='22px' height='38px'%3E%3Cpath fill-rule='evenodd' fill='rgb(102, 95, 96)' d='M21.997,18.999 C21.995,19.033 21.995,19.065 21.990,19.098 C21.979,19.454 21.822,19.798 21.518,19.989 L1.461,37.856 C0.993,38.151 0.394,37.976 0.123,37.466 C-0.148,36.956 0.013,36.303 0.481,36.009 L19.577,18.999 L0.481,1.989 C0.013,1.695 -0.148,1.042 0.123,0.532 C0.394,0.022 0.993,-0.152 1.461,0.142 L21.518,18.008 C21.822,18.200 21.979,18.544 21.990,18.900 C21.995,18.933 21.995,18.965 21.997,18.999 Z'/%3E%3C/svg%3E");		border: none;
		// &:before {
		// 	display: block;
		//  	content: "";
		//  	border-radius: 50%;
		//  	width:40px;
		//  	height: 40px;
		//  	border: 1px solid #fff;
		//  	position: absolute;
		//  	left: -110%;
		//  	top: -160%;
		// }
		&.slick-prev {
			z-index: 10;
			left: 2%;
			top: 50%;
			transform: translateY(-50%) rotate(180deg);
		}
		&.slick-next {
			right: 2%;
			top: 50%;
			transform: translateY(-50%) rotate(0deg);
		}
		&:hover,
		&:focus,
		&:active {
			opacity: .7;
		}
	}

}

.slidert {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	outline: 1px solid red;
	padding-bottom: 100px;
}

.slidet {
	margin-top: 100px;
	// width:32%;
	min-height: 330px;
	outline: 1px solid green;

	&__text {
		margin: 0;
		// padding: 0;
		padding: 4% 4% 0 4%;
		font-family: 'PT Sans', sans-serif;
		font-size: 24px;
		font-style: italic;
		font-weight: normal;
		color: #665f60;
		overflow: hidden; /* Обрезаем все, что не помещается в область */
		max-width:96%;
		@media screen and (max-width: 1260px) {
			padding-top: 0;
			// padding-right: 4%;
			&:last-child {
				padding-right: 0;
			}
	
		}
		@media screen and (max-width: 930px) {
			padding-top: 4%;
			// padding-right: 4%;
			&:last-child {
				padding-right: 0;
			}
	
		}
	}
	&__item {
		width: 100%;
		// height: 83%;
		height: 240px;
		background-color: #fff;
		position: relative;
		&::before {
			position: absolute;
			z-index: 2;
			border-radius: 50%;
			height: auto;
			// min-height: auto;
			width: 65%;
			padding-top: 65%;
			// height: 18em;
			// width: 18em;
			content: "";
			// border: 1px solid black;
			top: 0%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #ebebeb;
		}
		
	}
	&__img {
		position: absolute;
		z-index: 4;
		border-radius: 50%;
		height: auto;
		width: 55%;
		top: 0%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&__headline {
		max-width:96%;
		text-align: center;
		padding:  45% 0 55px;
		margin: 0 auto;
		line-height: 32px;
		font-size: 24px;
		font-family: ProximaNova, sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		color: #9f9acf;
		height: 70px;
		overflow: hidden; /* Обрезаем все, что не помещается в область */


	}
}

.social {
	&__lists {
		list-style-type: none;
		padding: 0;
		margin: 0;
		height: 60px;
		// display: inline-block;
		background-color: #9f9acf;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		padding: 0 15%;

		@media screen and (max-width: 1260px) {
			height: 80px;
			flex-wrap: wrap;
			margin: 0 auto;
			// padding: 0 5%;
			// justify-content: space-between;
		}
		@media screen and (max-width: 770px) {
			padding: 0;
			margin: 0;
			// padding-right: 4%;
			// &:last-child {
			// 	padding-right: 0;
			// }
	
		}

		&--footer {
			outline: 1px solid red;
			// justify-content: flex-end;
			padding: 0 3%;
			width: 30%;
				margin: 0;
			// margin-right: 0;
			@media screen and (max-width: 610px) {
				// padding: 0 75px;
				// min-height: 250px;
				// margin: 0;
				width: 50%;
			}
		}
	}
	&__list {
		// display: inline-block;
		padding: 3%;
		// padding-top: 0;
		&:last-child {
			padding-right: 0;
		}
		@media screen and (max-width: 1260px) {
			padding: 0 3%;
			// padding-right: 4%;
			// &:last-child {
			// 	padding-right: 0;
			// }
	
		}
		@media screen and (max-width: 770px) {
			padding: 3%;
			// padding-right: 4%;
			// &:last-child {
			// 	padding-right: 0;
			// }
	
		}
		@media screen and (max-width: 610px) {
			padding: 0 3%;
			// margin: 0;
			// padding-right: 4%;
			// &:last-child {
			// 	padding-right: 0;
			// }
	
		}
	}
	&__svg {
		transition: all .4s ease-in-out;
		// width: 10px;
		// height: 10px;
		&:hover,
		&:focus,
		&:active {
			opacity: .7;
		}
	}

}

#map {
	width: 100%;
	position: absolute;
	opacity: .5;
	height: 100%;
}


.map {
	background-color: rgba(159, 154, 207, 1);
	width:100%;
	height: 900px;
	position: relative;
	text-align: center;
	// background-color: blue;
	&__img {
		padding: 50px 0 15px;
		&--icon {
			padding: 0;
			width: 40px;
		}
		&--phone {
			padding: 0;
			width: 20px;
		}
		&--arrow {
			padding: 0;
			transform: rotate(90deg);
		}
	}
	&__headline {
		padding-bottom: 195px;
		font-size: 36px;
		font-family: ProximaNova, sans-serif;
		font-weight: 500;
		color: #fff;
		@media screen and (max-width: 750px) {
			padding-bottom: 55px;
	
		}
	}
	&__btn {
		width: 90px;
		height: 90px;
		background-color: rgba(235,235,235, .5);
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		position: absolute;
		right: 0;
		top: 280px;
		outline: 1px solid red;
		transition: all .4s ease-in-out;
		&--phone {
			top:370px;
		}
		&:hover,
		&:focus,
		&:active {
			width:250px;
		}
		// justify-content: center;	
	}
	&__icon {
		background-color: #9f9acf;
		min-width: 90px;
		width: 90px;
		height: 90px;
		display: flex; 
		align-items: center;
		justify-content: center;
		&--link {
			opacity: .5;
			position: absolute;
			right: 130px;
			bottom: 50px;
			&:hover,
			&:focus,
			&:active {
				opacity: 1;
			}
			@media screen and (max-width: 750px) {
				bottom: 0;
		
			}

		}


	}
	&__text {
		// display: none;
		font-size: 18px;
		// width:90%;
		margin: 0 15px;
		color: #665f60;
		font-family: 'PT Sans', sans-serif;
        overflow: hidden; /* Обрезаем все, что не помещается в область */

	}
	&__info {
		max-height:60px;
        overflow: hidden; /* Обрезаем все, что не помещается в область */
		width: 100%;

	}
	
}


.form {
	outline: 1px solid red;

	&__input {
		background-color: rgba(235,235,235, .4);
		width: 48%;
		height: 60px;
		border: none;
		outline: none;
		padding-left: 25px;
		font-family: 'PT Sans', sans-serif;
		font-size: 18px;
		font-style: italic;
		color: #fefefe;
		margin-bottom: 25px;
		
		&:first-child {
			margin-right: 3%;
		}
		@media screen and (max-width: 750px) {
			width: 100%;
	
		}
	}
	&__textarea {
		background-color: rgba(235,235,235, .5);
		border: none;
		outline: none;
		padding: 20px 0 0 25px;
		margin-bottom: 50px;
		font-family: 'PT Sans', sans-serif;
		font-size: 18px;
		font-style: italic;
		color: #fefefe;
		width: 100%;
		@media screen and (max-width: 750px) {
			height: 200px;
	
		}

	}

}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { 
	color: #fefefe;
	

}

.footer {
	background-color: #9f9acf;
	font-family: 'PT Sans', sans-serif;
	min-height: 180px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	&__text {
		font-size: 18px;
		padding: 0;
		margin: 0;
		color: #fff;
		outline: 1px solid green;
		width: 50%;
		white-space: nowrap; /* Запрещаем перенос строк */
        overflow: hidden; /* Обрезаем все, что не помещается в область */
        text-overflow: ellipsis; /* Добавляем многоточие */
		&--bold {
			font-weight: 800;
		}
	}
}


